<md-list-item>
    <div class="formfield-wrapper">
        <div class="formfield-view">
            <label></label>
            <md-radio-group>
                <md-radio-button disabled value="0">Radio Button</md-radio-button>
            </md-radio-group>
        </div>
        <div class="formfield-options">
            <md-icon>settings</md-icon>
            <md-icon (click)="remove_element()">remove</md-icon>
        </div>
    </div>
    <input type="hidden" name="radiobutton-label[]" value=""/>
    <input type="hidden" name="radiobutton-placeholder[]" value=""/>
    <input type="hidden" name="radiobutton-required[]" value=""/>
    <input type="hidden" name="radiobutton-required-msg[]" value=""/>
</md-list-item>