<div class="formfield-wrapper">
    <div class="formfield-view">
        <label></label>
        <md-radio-group>
            <md-radio-button disabled value="0">Radio Button</md-radio-button>
        </md-radio-group>
    </div>
    <div class="formfield-options">
        <span><i class="material-icons">settings</i></span>
        <span><i class="material-icons">remove</i></span>
    </div>
</div>
<input type="hidden" name="radiobutton-label[]" value=""/>
<input type="hidden" name="radiobutton-placeholder[]" value=""/>
<input type="hidden" name="radiobutton-required[]" value=""/>
<input type="hidden" name="radiobutton-required-msg[]" value=""/>