<div class="ang-form-list">
    <form class="add-contact-form">
        <div class="wrapper">
            <div class="form-grid form-title">
                <md-input-container>
                    <input class="form-title-field" mdInput placeholder="Title" value="">
                </md-input-container>
            </div>
            <div class="form-grid form-fields">
                <label>Available Fields</label>
                <div class="button-row">
                    <button md-raised-button>Text Field</button>
                    <button md-raised-button>Textarea</button>
                    <button md-raised-button>Checkbox</button>
                    <button md-raised-button>Radiobutton</button>
                    <button md-raised-button>Submit Button</button>
                </div>
            </div>
            <div class="form-grid form-operation">
                <md-input-container>
                    <input mdInput placeholder="Operation" value="">
                </md-input-container>
            </div>
            <div class="form-grid form-submission">
                <md-input-container>
                    <input mdInput placeholder="Operation" value="">
                </md-input-container>
            </div>
        </div>
    </form>
</div>