<div class="ang-form-list">
    <form class="add-contact-form">
        <div class="wrapper">
            <div class="form-grid form-title">
                <md-input-container>
                    <input mdInput placeholder="Title" value="">
                </md-input-container>
            </div>
            <div class="form-grid form-fields">
                <md-input-container>
                    <input mdInput placeholder="Fields" value="">
                </md-input-container>
            </div>
            <div class="form-grid form-operation">
                <md-input-container>
                    <input mdInput placeholder="Operation" value="">
                </md-input-container>
            </div>
            <div class="form-grid form-submission">
                <md-input-container>
                    <input mdInput placeholder="Operation" value="">
                </md-input-container>
            </div>
        </div>
    </form>
</div>