<div class="ang-form-list">
    <form class="add-contact-form">
        <div class="wrapper">
            <div class="form-grid form-title">
                <md-input-container>
                    <input class="form-title-field" mdInput placeholder="Title" value="">
                </md-input-container>
            </div>
            <div class="form-grid form-fields">
                <label>Available Fields</label>
                <div class="button-row no-drop" [dragula] = "'dragged-dropped'">
                    <!--<button md-raised-button type="button" draggable="true" dragTextField>Text Field</button>-->
                    <button class="is-draggable" id="textfield-dragged" md-raised-button type="button">Text Field</button>
                    <button class="is-draggable" id="emailfield-dragged" md-raised-button type="button">Email Field</button>
                    <button class="is-draggable" id="numberfield-dragged" md-raised-button type="button">Number Field</button>
                    <button class="is-draggable" id="textarea-dragged" md-raised-button type="button">Textarea</button>
                    <button class="is-draggable" id="checkbox-dragged" md-raised-button type="button">Checkbox</button>
                    <button class="is-draggable" id="radiobutton-dragged" md-raised-button type="button">Radiobutton</button>
                </div>
            </div>
            <div class="form-grid form-operation">
                <!--<md-list id="selected-form-fields" dropFields>-->
                <!--</md-list>-->

                <md-list class="container" id="selected-form-fields" [dragula] = "'dragged-dropped'">
                    <ng-template add-form-element>
                    </ng-template>
                </md-list>

                <button md-raised-button type="button">Submit</button>
            </div>
        </div>
    </form>
</div>

<div [hidden]="true">
    <div id="drop-area">
        <div style="padding: 20px; width: 650px; border: 3px dotted grey;">
            <h2>Drop Here..</h2>
        </div>
    </div>
</div>

<!--<div class="hidden-form-fields" [hidden]=true>-->
    <!--<div id="form-textfield">-->
        <!--<ang-textfield></ang-textfield>-->
    <!--</div>-->
    <!--<div id="form-textarea">-->
        <!--<ang-textarea></ang-textarea>-->
    <!--</div>-->
    <!--<div id="form-radiobutton">-->
        <!--<ang-radiobutton></ang-radiobutton>-->
    <!--</div>-->
    <!--<div id="form-emailfield">-->
        <!--<ang-emailfield></ang-emailfield>-->
    <!--</div>-->
    <!--<div id="form-numberfield">-->
        <!--<ang-numberfield></ang-numberfield>-->
    <!--</div>-->
    <!--<div id="form-checkbox">-->
        <!--<ang-checkbox></ang-checkbox>-->
    <!--</div>-->
<!--</div>-->