<div *ngIf="form_action_type == 'add'">
    <form #formSetup="ngForm" novalidate (ngSubmit)="formSetupModel.valid && onSubmit(formSetup.value)"
          class="ng-form-setup">
        <div class="div-form-field">
            <mat-form-field>
                <input matInput required id="name" placeholder="Form name" name="form_name"
                       class="form-control" [(ngModel)]="form_name" value="" #formSetupModel="ngModel">
            </mat-form-field>
            <div *ngIf="formSetupModel.invalid && (formSetupModel.dirty || formSetupModel.touched)"
                 class="alert alert-danger">

                <div *ngIf="formSetupModel.errors.required">
                    <span class="span-form-name-required">Form Name can not be empty.</span>
                </div>
            </div>
            <div *ngIf="submitted">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
        <div *ngIf="!submitted" class="div-form-create">
            <mat-grid-list cols="6" gutterSize="10px">
                <mat-grid-tile
                        *ngFor="let form_type of form_types"
                        [colspan]="form_type.cols"
                        [rowspan]="form_type.rows">
                    <mat-card class="card-create-form">
                        <mat-card-content class="card-content-create-form">
                            <h2 class="card-content-text">{{form_type.header}}</h2>
                            <p class="card-content-text">{{ form_type.text }}</p>
                            <button mat-raised-button type="submit" [id]="form_type.id"
                                    (click)="onClick(form_type.id)" name="form-submit">Create Form
                            </button>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </form>
</div>
<div *ngIf="form_action_type == 'edit'">
    <div class="div-form-field">
        <mat-form-field>
            <input matInput required placeholder="Form Name"
                   [ngModel]="edit_form_title"
                   (ngModelChange)="check_title_check($event)">
        </mat-form-field>
        <div>
            <span *ngIf="empty_field" class="span-form-name-required">If you keep the field empty, then form name must not be updated</span>
        </div>
    </div>
    <div>
        <mat-grid-list cols="6" gutterSize="10px">
            <mat-grid-tile
                    *ngFor="let form_type of form_types"
                    [colspan]="form_type.cols"
                    [rowspan]="form_type.rows">
                <mat-card class="card-create-form">
                    <mat-card-content class="card-content-create-form">
                        <h2 class="card-content-text">{{form_type.header}} <mat-icon *ngIf="edit_form_type == form_type.id">done</mat-icon></h2>
                        <p class="card-content-text">{{ form_type.text }}</p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>