<div>
    <form #formSetup="ngForm" novalidate (ngSubmit)="formSetupModel.valid && onSubmit(formSetup.value)" class="ng-form-setup">
        <div>
            <mat-form-field>
                <input matInput required placeholder="Form Name" id="name" name="form_name"
                       class="form-control" [(ngModel)]="form_name" value="" #formSetupModel="ngModel">
            </mat-form-field>
            <div *ngIf="formSetupModel.invalid && (formSetupModel.dirty || formSetupModel.touched)"
                 class="alert alert-danger">

                <div *ngIf="formSetupModel.errors.required">
                    Form Name is required.
                </div>
            </div>
        </div>
        <div>
            <mat-grid-list cols="6">
                <mat-grid-tile
                        *ngFor="let form_type of form_types"
                        [colspan]="form_type.cols"
                        [rowspan]="form_type.rows"
                        [style.background]="form_type.color">
                    <mat-card>
                        <mat-card-content>
                            <p>
                                {{ form_type.text }}
                            </p>
                            <button mat-button type="submit" [id]="form_type.id" (click)="onClick(form_type.id)" name="form-submit">Create Form</button>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </form>
</div>