<div class="formfield-wrapper">
    <div class="formfield-view">
        <label></label>
        <md-input-container>
            <textarea mdInput disabled placeholder="TextArea"></textarea>
        </md-input-container>
    </div>
    <div class="formfield-options">
        <span><i class="material-icons">settings</i></span>
        <span><i class="material-icons">remove</i></span>
    </div>
</div>
<input type="hidden" name="textarea-label[]" value=""/>
<input type="hidden" name="textarea-placeholder[]" value=""/>
<input type="hidden" name="textarea-required[]" value=""/>
<input type="hidden" name="textarea-required-msg[]" value=""/>