<mat-grid-list cols="12" rowHeight="fit" class="grid-list-edit-container" gutterSize="20px">
    <mat-grid-tile colspan="3" rowspan="1" class="mi-tile-contents-top">
        <div class="available-fields-container">
            <mat-toolbar>
                <span>Available Fields</span>
            </mat-toolbar>
            <div style="text-align: center; margin-top: 10px;">
                <a [matTooltip]="tooltip_help_text" matTooltipPosition="right" style="cursor: pointer;">Need Help?</a>
            </div>
            <mat-list>
                <mat-list-item>
                    <button mat-raised-button class="form-field-button-style"
                            color="primary"
                            (click)="add_text_field()"
                            [style.cursor]="style_cursor">
                        Text
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-raised-button class="form-field-button-style" color="primary"
                            (click)="add_text_area_field()"
                            [style.cursor]="style_cursor">
                        Text Area
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-raised-button class="form-field-button-style" color="primary"
                            (click)="add_email_field()" [style.cursor]="style_cursor">
                        Email
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-raised-button class="form-field-button-style" color="primary"
                            (click)="add_number_field()"
                            [style.cursor]="style_cursor">
                        Number
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-raised-button class="form-field-button-style" color="primary" (click)="add_checkbox()"
                            [style.cursor]="style_cursor">
                        Checkbox
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-raised-button class="form-field-button-style" color="primary"
                            (click)="add_radio_button()"
                            [style.cursor]="style_cursor">
                        Radiobutton
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-raised-button class="form-field-button-style" color="primary" (click)="add_dropdown()"
                            [style.cursor]="style_cursor">
                        Dropdown
                    </button>
                </mat-list-item>
            </mat-list>
        </div>

    </mat-grid-tile>
    <mat-grid-tile colspan="5" style="overflow-y: auto;">
        <div class="edit-form-fields-container">
            <mat-list role="list" [dragula]="drag-drop-fields" [dragulaModel]="form_fields" style="padding-top: 0;">
                <mat-list-item class="ng-drag-drop-field mat-list-ng-each-field" role="listitem"
                               (click)="open_field_settings(object_index, field)"
                               *ngFor="let field of form_fields; let object_index = index;"
                               (mouseenter)="on_hover_over_field($event)"
                               (mouseleave)="on_leave_hover_over_field($event)"
                               [style.cursor]="style_cursor"
                               style="padding: 10px 15px; position: relative; height: auto;">
                    <div class="close-form-field" style="display: none">
                        <mat-icon *ngIf="field.type != 'submit'"
                                  (click)="remove_field($event, object_index)">close
                        </mat-icon>
                    </div>

                    <div>
                        <div class="form-field-content" *ngIf="field.type == 'text'">
                            <div class="ng-field-label">
                                <label *ngIf="!field.hide_label">{{ field.label }}</label>
                                <span *ngIf="field.required" [style.color]="required_text_color">*</span>
                            </div>
                            <div>
                                <input disabled type="text" [placeholder]="field.placeholder"
                                       [value]="field.default_value"
                                       [class]="field.classes"/>
                            </div>
                            <div class="ng-field-description">
                                <span class="ng-field-description-text">{{field.description}}</span>
                            </div>
                        </div>
                        <div class="form-field-content" *ngIf="field.type == 'textarea'">
                            <div class="ng-field-label">
                                <label *ngIf="!field.hide_label">{{ field.label }}</label>
                                <span *ngIf="field.required" [style.color]="required_text_color">*</span>
                            </div>
                            <div>
                                <textarea disabled [placeholder]="field.placeholder" [class]="field.classes" rows="2">{{ field.default_value }}</textarea>
                            </div>
                            <div class="ng-field-description">
                                <span class="ng-field-description-text">{{field.description}}</span>
                            </div>
                        </div>
                        <div class="form-field-content" *ngIf="field.type == 'email'">
                            <div class="ng-field-label">
                                <label *ngIf="!field.hide_label">{{ field.label }}</label>
                                <span *ngIf="field.required" [style.color]="required_text_color">*</span>
                            </div>
                            <div>
                                <input disabled
                                       type="email"
                                       [value]="field.default_value"
                                       [placeholder]="field.placeholder"
                                       [class]="field.classes"/>
                            </div>
                            <div class="ng-field-description">
                                <span class="ng-field-description-text">{{field.description}}</span>
                            </div>
                        </div>
                        <div class="form-field-content" *ngIf="field.type == 'number'">
                            <div class="ng-field-label">
                                <label *ngIf="!field.hide_label">{{ field.label }}</label>
                                <span *ngIf="field.required" [style.color]="required_text_color">*</span>
                            </div>
                            <div>
                                <input disabled
                                       type="number"
                                       [value]="field.default_value"
                                       [placeholder]="field.placeholder"
                                       [class]="field.classes"/>
                            </div>
                            <div class="ng-field-description">
                                <span class="ng-field-description-text">{{field.description}}</span>
                            </div>
                        </div>
                        <div class="form-field-content" *ngIf="field.type == 'submit'">
                            <div class="button-form-submit"
                                 *ngIf="field.position[field.position_checked].text == 'right'">
                                <input disabled type="submit"
                                       style="position: absolute; right: 0;"
                                       [class]="field.classes"
                                       [value]="field.label"/>
                            </div>
                            <input disabled type="submit"
                                   *ngIf="field.position[field.position_checked].text == 'left'"
                                   [class]="field.classes"
                                   [value]="field.label"/>
                        </div>
                        <div class="form-field-content" *ngIf="field.type == 'radio'">
                            <div class="ng-field-label">
                                <label *ngIf="!field.hide_label">{{ field.label }}</label>
                                <span *ngIf="field.required" [style.color]="required_text_color">*</span>
                            </div>
                            <div>
                                <div *ngFor="let choice of field.choices; let i = index;">
                                    <label style="padding: 5px 0;">
                                        <input disabled type="radio" [class]="field.classes"
                                               [checked]="field.choice_selected == i">
                                        {{
                                        choice.text }} </label><br/>
                                </div>
                            </div>
                            <div class="ng-field-description">
                                <span class="ng-field-description-text">{{field.description}}</span>
                            </div>
                        </div>
                        <div class="form-field-content" *ngIf="field.type == 'checkbox'">
                            <div class="ng-field-label">
                                <label *ngIf="!field.hide_label">{{ field.label }}</label>
                                <span *ngIf="field.required" [style.color]="required_text_color">*</span>
                            </div>
                            <div>
                                <div *ngFor="let choice of field.choices; let i = index; trackBy:track_by_Index">
                                    <label style="padding: 5px 0;">
                                        <input type="checkbox" disabled [class]="field.classes"
                                               [checked]="choice.checked"
                                        >
                                        {{choice.text}} </label><br/>
                                </div>
                            </div>
                            <div class="ng-field-description">
                                <span class="ng-field-description-text">{{field.description}}</span>
                            </div>
                        </div>
                        <div class="form-field-content" *ngIf="field.type == 'select'">
                            <div class="ng-field-label">
                                <label *ngIf="!field.hide_label">{{ field.label }}</label>
                                <span *ngIf="field.required" [style.color]="required_text_color">*</span>
                            </div>
                            <div>
                                <select disabled [class]="field.classes">
                                    <option *ngFor="let choice of field.choices; let i = index;"
                                            [class]="field.classes" [selected]="field.choice_selected == i">
                                        {{ choice.text }}
                                    </option>
                                </select>
                            </div>
                            <div class="ng-field-description">
                                <span class="ng-field-description-text">{{field.description}}</span>
                            </div>
                        </div>
                    </div>

                </mat-list-item>
            </mat-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="open_field_settings_flag && (active_field_object != null)" colspan="4">
        <div class="edit-form-settings-container">

            <section style="margin-bottom: 25px;">
                    <a (click)="close_form_field_settings()" style="float: right;color: #f44336; cursor: pointer;">Close</a>
            </section>
            <section class="ng-keep-field-gutter-between" *ngIf="active_field_object.label != undefined">
                <mat-form-field>
                    <input matInput placeholder="Field Label" [(ngModel)]="active_field_object.label"
                           [value]="active_field_object.label"
                           (ngModelChange)="onFormValueUpdated($event)">
                </mat-form-field>
            </section>
            <section class="ng-keep-field-gutter-between"
                     *ngIf="active_field_object.choices != undefined && active_field_object.type == 'checkbox'">

                <mat-table #table [dataSource]="checkbox_data_source">

                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let choice; let i = index;">
                            <mat-checkbox [checked]="choice.checked"
                                          (change)="update_checkbox_choice_selected($event, i)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Choices</mat-header-cell>
                        <mat-cell *matCellDef="let choice; let i = index;">
                            <mat-form-field>
                                <input matInput
                                       [(ngModel)]="choice.text"
                                       (ngModelChange)="onFormValueUpdated($event)">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let choice; let i = index;">
                            <mat-icon *ngIf="active_field_object.choices.length > 1"
                                      (click)="remove_a_checkbox_choice(active_field_object.choices, i)"
                                      [style.cursor]="style_cursor">close
                            </mat-icon>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-form-field style="margin-top: 10px;">
                    <input matInput placeholder="Add Choice by pressing enter"
                           (keyup.enter)="add_new_checkbox_choice($event, active_field_object.choices)">
                </mat-form-field>
            </section>
            <section class="ng-keep-field-gutter-between"
                     *ngIf="active_field_object.choices != undefined && (active_field_object.type == 'radio' || active_field_object.type == 'select')">

                <mat-table #table [dataSource]="checkbox_data_source">

                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let choice; let i = index;">
                            <mat-radio-button [checked]="active_field_object.choice_selected == i"
                                              (change)="update_choice_selected($event, i)">
                            </mat-radio-button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Choices</mat-header-cell>
                        <mat-cell *matCellDef="let choice; let i = index;">
                            <mat-form-field>
                                <input matInput [(ngModel)]="choice.text"
                                       (ngModelChange)="onFormValueUpdated($event)">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let choice; let i = index;">
                            <mat-icon *ngIf="active_field_object.choices.length > 1"
                                      (click)="remove_a_choice(i)"
                                      [style.cursor]="style_cursor">close
                            </mat-icon>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <mat-form-field>
                    <input matInput placeholder="Add Choice by pressing enter"
                           (keyup.enter)="add_new_choice($event)">
                </mat-form-field>
            </section>
            <section class="ng-keep-field-gutter-between" *ngIf="active_field_object.description != undefined">
                <mat-form-field>
                    <textarea matInput [(ngModel)]="fieldDescription"
                              (ngModelChange)="onFormValueUpdated($event)"
                              rows="8"
                              placeholder="Field Description"></textarea>
                </mat-form-field>
            </section>
            <section class="ng-keep-field-gutter-between" *ngIf="active_field_object.required != undefined">
                <mat-checkbox
                        [checked]="active_field_object.required"
                        (change)="update_required_field($event)">Required
                </mat-checkbox>
            </section>
            <section class="ng-keep-field-gutter-between" *ngIf="active_field_object.placeholder != undefined">
                <mat-form-field>
                    <input matInput placeholder="Placeholder Text"
                           [(ngModel)]="active_field_object.placeholder"
                           (ngModelChange)="onFormValueUpdated($event)"
                           [value]="active_field_object.placeholder">
                </mat-form-field>
            </section>
            <section class="ng-keep-field-gutter-between" *ngIf="active_field_object.position != undefined">
                <label>Position</label>

                <div *ngFor="let position of active_field_object.position; let i = index;" style="margin: 5px 0;">
                    <mat-radio-button
                            [checked]="active_field_object.position_checked == i"
                            (change)="update_submit_position($event, i)">
                        {{ position.text }}
                    </mat-radio-button>
                </div>
            </section>
            <section class="ng-keep-field-gutter-between" *ngIf="active_field_object.hide_label != undefined">
                <mat-checkbox
                        [checked]="active_field_object.hide_label"
                        (change)="update_hide_label($event)">Hide Label
                </mat-checkbox>
            </section>
            <section class="ng-keep-field-gutter-between"
                     *ngIf="active_field_object.default_value != undefined && active_field_object.type == 'text'">
                <mat-form-field>
                    <input matInput placeholder="Default Value"
                           [(ngModel)]="active_field_object.default_value"
                           (ngModelChange)="onFormValueUpdated($event)">
                </mat-form-field>
            </section>
            <section class="ng-keep-field-gutter-between"
                     *ngIf="active_field_object.default_value != undefined && active_field_object.type == 'email'">
                <mat-form-field>
                    <input matInput placeholder="Default Value"
                           [(ngModel)]="active_field_object.default_value"
                           (ngModelChange)="onFormValueUpdated($event)">
                </mat-form-field>
            </section>
            <section class="ng-keep-field-gutter-between"
                     *ngIf="active_field_object.default_value != undefined && active_field_object.type == 'number'">
                <mat-form-field>
                    <input matInput placeholder="Default Value"
                           [(ngModel)]="active_field_object.default_value"
                           (ngModelChange)="onFormValueUpdated($event)">
                    <mat-error *ngIf="defult_value_is_not_number">Input must be number</mat-error>
                </mat-form-field>
            </section>
            <section class="ng-keep-field-gutter-between"
                     *ngIf="active_field_object.default_value != undefined && active_field_object.type == 'textarea'">
                <mat-form-field>
                    <textarea matInput [(ngModel)]="fieldDefaultValue"
                              (ngModelChange)="onFormValueUpdated($event)"
                              rows="8"
                              placeholder="Default Value"></textarea>
                </mat-form-field>
            </section>
            <section class="ng-keep-field-gutter-between" *ngIf="active_field_object.classes != undefined">
                <mat-form-field>
                    <input matInput placeholder="Class Name"
                           [(ngModel)]="fieldClasses"
                           (ngModelChange)="onFormValueUpdated($event)">
                </mat-form-field>
            </section>
        </div>
    </mat-grid-tile>
</mat-grid-list>