<md-list-item>
    <div class="formfield-wrapper">
        <div class="formfield-view">
            <label></label>
            <md-checkbox disabled checked>Checkbox</md-checkbox>
        </div>
        <div class="formfield-options">
            <md-icon>settings</md-icon>
            <md-icon (click)="remove_element($event)">remove</md-icon>
        </div>
    </div>
    <input type="hidden" name="checkbox-label[]" value=""/>
    <input type="hidden" name="checkbox-placeholder[]" value=""/>
    <input type="hidden" name="checkbox-required[]" value=""/>
    <input type="hidden" name="checkbox-required-msg[]" value=""/>
</md-list-item>