<h1 md-dialog-title>Checkbox Form Field</h1>
<div md-dialog-content>
    <div>
        <label>Field Type</label>
        <md-checkbox [(ngModel)]="data[0]['required_field'].required" checked="data[0]['required_field'].required">Required Field</md-checkbox>
    </div>
    <div>
        <label>Required Field Text</label>
        <input mdInput [(ngModel)]="data[0]['required_field'].value" placeholder="data[0]['required_field'].placeholder" value="data[0]['required_field'].value">
    </div>
    <div>
        <label>Label</label>
        <input mdInput placeholder="data[1]['label'].placeholder" [(ngModel)]="data[1]['label'].value" value="data[1]['label'].value">
    </div>
    <div>
        <div class="checkbox-options" *ngFor="let data_option of data[2]['radio_options']">
            <div>
                <input mdInput type="text" [(ngModel)]="data_option.value" name="checkbox_options[]" placeholder="{{data_option.placeholder}}" value="{{data_option.value}}" />
                <button type="button" *ngIf="data_option.delete != 0" (click)="delete_current_option($event)">-</button>
            </div>
        </div>
        <button md-button type="button" (click)="add_new_option()">Add Option</button>
    </div>
    <div>
        <label>Id Attribute</label>
        <input mdInput placeholder="data[3]['id_attribute'].placeholder" [(ngModel)]="data[3]['id_attribute'].value" value="{{ data[3]['id_attribute'].value }}" trim>
    </div>
    <div>
        <label>Class Attributes</label>
        <input mdInput placeholder="data[4]['class_attributes'].placeholder" [(ngModel)]="data[4]['class_attributes'].value" value="{{ data[4]['class_attributes'].value }}">
    </div>
</div>
<div md-dialog-actions>
    <button md-button [md-dialog-close]="data" tabindex="2">Save</button>
    <button md-button (click)="onNoClick()" tabindex="-1">Close</button>
</div>