<mat-grid-list cols="12" class="grid-list-form-settings-container" rowHeight="fit" style="height: 800px;">
    <mat-grid-tile colspan="4" rowspan="1">
        <div style="position: absolute; top: 0; margin-top: 25px;">
            <mat-toolbar style="margin-bottom: 10px;">
                <mat-toolbar-row>
                    <span>General</span>
                </mat-toolbar-row>
            </mat-toolbar>
            <section>
                <mat-form-field>
                    <input matInput placeholder="Form Name" [(ngModel)]="settings_data.form_name" (ngModelChange)="onFormSettingsUpdated($event)">
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <input matInput placeholder="Form CSS classes" [(ngModel)]="settings_data.form_css_classes" (ngModelChange)="onFormSettingsUpdated($event)">
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <input matInput placeholder="Submit button processing text" [(ngModel)]="settings_data.submit_button_processing_text"
                           (ngModelChange)="onFormSettingsUpdated($event)">
                </mat-form-field>
            </section>
            <section>
                <mat-checkbox [checked]="settings_data.anti_span_honeybot"
                              (change)="update_anti_spam_honeybot($event)">
                    Enable anti spam honeybot
                </mat-checkbox>
                <div>
                    <span style="font-size: 13px;">Note: The feature currently is not implemented</span>
                </div>
            </section>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
        <div style="position: absolute; top: 0; margin-top: 25px;">
            <mat-toolbar style="margin-bottom: 10px;">
                <mat-toolbar-row>
                    <span>Email</span>
                </mat-toolbar-row>
            </mat-toolbar>
            <section>
                <mat-form-field>
                    <input matInput placeholder="Send to email" [(ngModel)]="settings_data.send_to_email"
                           (ngModelChange)="onFormSettingsUpdated($event)">
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <input matInput placeholder="Email subject" [(ngModel)]="settings_data.email_subject"
                           (ngModelChange)="onFormSettingsUpdated($event)">
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <input matInput placeholder="From name" [(ngModel)]="settings_data.from_name"
                           (ngModelChange)="onFormSettingsUpdated($event)">
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <input matInput placeholder="From email" [(ngModel)]="settings_data.from_email"
                           (ngModelChange)="onFormSettingsUpdated($event)">
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <input matInput placeholder="Reply to" [(ngModel)]="settings_data.reply_to"
                           (ngModelChange)="onFormSettingsUpdated($event)">
                </mat-form-field>
            </section>
            <section>
                <mat-form-field>
                    <textarea matInput placeholder="Message"
                              rows="8"
                              [(ngModel)]="emailMessage"
                              (ngModelChange)="onFormSettingsUpdated($event)"></textarea>
                </mat-form-field>
                <div class="ng-smart-tag-div">
                    <span class="ng-smart-tag">
                        Available tags: {{ '{' }}admin_email{{ '}' }}, {{ '{' }}site_title{{ '}' }}, {{ '{' }}admin_name{{ '}' }}, {{ '{' }}form_fields{{ '}' }}
                    </span>
                </div>
            </section>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
        <div style="position: absolute; top: 0; margin-top: 25px;">
            <mat-toolbar style="margin-bottom: 10px;">
                <mat-toolbar-row>
                    <span>Confirmation Message</span>
                </mat-toolbar-row>
            </mat-toolbar>
            <section>
                <mat-checkbox [checked]="settings_data.send_confirmation_email"
                              (change)="update_send_confirmation_email($event)">
                    Send confirmation message
                </mat-checkbox>
            </section>
            <br/>
            <section *ngIf="settings_data.send_confirmation_email">
                <mat-form-field>
                    <textarea matInput
                              rows="8"
                              placeholder="Confirmation email message"
                            (ngModelChange)="onFormSettingsUpdated($event)"
                            [(ngModel)]="confirmationEmailMessage"></textarea>
                </mat-form-field>
            </section>
        </div>
    </mat-grid-tile>
</mat-grid-list>