<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div>
            <mat-form-field>
                <input matInput placeholder="Form Name" [(ngModel)]="settings_data.form_name" (ngModelChange)="onFormSettingsUpdated($event)">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Form CSS classes" [(ngModel)]="settings_data.form_css_classes" (ngModelChange)="onFormSettingsUpdated($event)">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Submit button processing text" [(ngModel)]="settings_data.submit_button_processing_text"
                       (ngModelChange)="onFormSettingsUpdated($event)">
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox [checked]="settings_data.anti_span_honeybot"
                          (change)="update_anti_spam_honeybot($event)">
                Enable anti spam honeybot
            </mat-checkbox>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <mat-form-field>
                <input matInput placeholder="Send to email" [(ngModel)]="settings_data.send_to_email"
                       (ngModelChange)="onFormSettingsUpdated($event)">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Email subject" [(ngModel)]="settings_data.email_subject"
                       (ngModelChange)="onFormSettingsUpdated($event)">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="From name" [(ngModel)]="settings_data.from_name"
                       (ngModelChange)="onFormSettingsUpdated($event)">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="From email" [(ngModel)]="settings_data.from_email"
                       (ngModelChange)="onFormSettingsUpdated($event)">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Reply to" [(ngModel)]="settings_data.reply_to"
                       (ngModelChange)="onFormSettingsUpdated($event)">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <textarea matInput placeholder="Message" [(ngModel)]="emailMessage" (ngModelChange)="onFormSettingsUpdated($event)"></textarea>
            </mat-form-field>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <mat-checkbox [checked]="settings_data.send_confirmation_email"
                          (change)="update_send_confirmation_email($event)">
                Send Confirmation email
            </mat-checkbox>
        </div>
        <div *ngIf="settings_data.send_confirmation_email">
            <mat-form-field>
                <textarea matInput placeholder="Confirmation email message"
                          (ngModelChange)="onFormSettingsUpdated($event)"
                          [(ngModel)]="confirmationEmailMessage"></textarea>
            </mat-form-field>
        </div>
    </mat-grid-tile>
</mat-grid-list>