
///Global Style

.ang-contact-form{
  margin: $container-margin;
}

.forms-component{
  margin-top: $margin-top;
}

.ang-form-list{
  margin-top: $margin-top;
}

//////Main form grid layout

.ang-contact-form{
  display: grid;
  grid-gap: $grid-gap;
  grid-template-columns: $left-container-width $right-sidebar-width;
}

.contact-form-options{
  grid-column: 1 / 2;
  grid-row: 1;
}

.contact-form-submissions{
  grid-column: 2;
  grid-row: 1 / 2;
}