@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//@import "declarations";
//@import "global";
//@import "forms";
//@import "forms_drop_field";

.ng-drag-drop-field{
  margin: 10px 0;
  position: relative;
  width: 100%;
  border-style: dotted;
  border-width: 1px;
  border-color: grey;
}

.close-form-field{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.form-field-content{
  padding: 20px 0;
}

.ng-content-loader{
  position:fixed;
  top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}