<div class="ng-contact-form">
    <div *ngIf="component_type == 'add'" class="contact-form-options">
        <mat-card>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Setup">
                        <ng-form-setup [default_blank_fields]="blank_fields"
                                       [default_basic_fields]="basic_fields"
                                       [default_form_settings]="default_form_settings"
                                       [endpoint]="endpoint"
                                       [nonce]="nonce"
                                       [default_form_action]="component_type">
                        </ng-form-setup>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="component_type == 'edit'">
        <mat-progress-bar mode="indeterminate" *ngIf="load_update_form_spinner" color="accent"></mat-progress-bar>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>ngContact Form</span>
                <span></span>
                <div>
                    <button mat-raised-button color="accent"
                            (click)="save_form_updates()">Save</button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card>
            <mat-card-content>
                <mat-tab-group [selectedIndex]="selectedTab">
                    <mat-tab label="Setup">
                        <ng-form-setup [default_blank_fields]="blank_fields"
                                       [default_form_settings]="default_form_settings"
                                       [default_basic_fields]="basic_fields"
                                       [endpoint]="endpoint"
                                       [nonce]="nonce"
                                       [default_form_action]="component_type"
                                       (onFormTitleChanges)="on_form_title_changes($event)"></ng-form-setup>
                    </mat-tab>
                    <mat-tab label="Fields">
                        <ng-edit-form (onFormInputChange)="on_edit_form_updated($event)">
                        </ng-edit-form>
                    </mat-tab>
                    <mat-tab label="Settings">
                        <ng-form-settings (onFormSettingsChange)="on_form_settings_updated($event)">
                        </ng-form-settings>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="component_type == 'settings'">
        <mat-progress-bar mode="indeterminate" *ngIf="load_update_global_settings_spinner" color="accent"></mat-progress-bar>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>ngContact Form</span>
                <span></span>
                <div>
                    <button mat-raised-button color="accent"
                            (click)="save_global_settings_updates()">Save</button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Form Validation">
                        <ng-settings
                        [default_global_settings]="global_settings"
                        (onGlobalSettingsChanges)="on_global_settings_changes($event)"></ng-settings>
                    </mat-tab>
                    <mat-tab disabled label="More to come">
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>