<div class="ang-contact-form">
    <md-tab-group>
        <md-tab label="Forms">
            <ang-forms></ang-forms>
        </md-tab>
        <md-tab label="Email">
            <ang-email></ang-email>
        </md-tab>
        <md-tab label="Message">
            <ang-message></ang-message>
        </md-tab>
        <md-tab label="Settings">
            <ang-settings></ang-settings>
        </md-tab>
        <md-tab label="Additional Settings">
            <ang-additional-settings></ang-additional-settings>
        </md-tab>
    </md-tab-group>
</div>