<h3>Messages Settings</h3>
<mat-divider></mat-divider>
<div>
    <mat-form-field>
        <input matInput placeholder="Text Message" [(ngModel)]="global_settings.text_message"
               (ngModelChange)="on_global_settings_changes($event)">
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input matInput placeholder="Number Message" [(ngModel)]="global_settings.form_css_classes"
               (ngModelChange)="on_global_settings_changes($event)">
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input matInput placeholder="Confirm Number Message" [(ngModel)]="global_settings.confirm_number_message"
               (ngModelChange)="on_global_settings_changes($event)">
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input matInput placeholder="Email Message" [(ngModel)]="global_settings.email_message"
               (ngModelChange)="on_global_settings_changes($event)">
    </mat-form-field>
</div>