<md-list-item>
    <div class="formfield-wrapper">
        <div class="formfield-view">
            <label></label>
            <md-input-container>
                <input type="number" mdInput disabled placeholder="NumberField" value="">
            </md-input-container>
        </div>
        <div class="formfield-options">
            <md-icon>settings</md-icon>
            <md-icon (click)="remove_element()">remove</md-icon>
        </div>
    </div>
    <input type="hidden" name="numberfield-label[]" value=""/>
    <input type="hidden" name="numberfield-placeholder[]" value=""/>
    <input type="hidden" name="numberfield-required[]" value=""/>
    <input type="hidden" name="numberfield-required-msg[]" value=""/>
</md-list-item>