<div class="formfield-wrapper">
    <div class="formfield-view">
        <label></label>
        <md-input-container>
            <input type="number" mdInput disabled placeholder="NumberField" value="">
        </md-input-container>
    </div>
    <div class="formfield-options">
        <span><i class="material-icons">settings</i></span>
        <span><i class="material-icons">remove</i></span>
    </div>
</div>
<input type="hidden" name="numberfield-label[]" value=""/>
<input type="hidden" name="numberfield-placeholder[]" value=""/>
<input type="hidden" name="numberfield-required[]" value=""/>
<input type="hidden" name="numberfield-required-msg[]" value=""/>